*, *::before, *::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	background-color: #252631;
	font-family: 'Cabin', sans-serif;
	font-size: 30pt;
	color: #A7DDFB;
	height: 90%;
}

#calculator {
	background-color: #5E4467;
	border-radius: 40px;
	margin: 50px auto;
	width: 375px;
	height: 600px;
	font-size: 0;
}

#contents {
	padding: 45px 35px;
	height: 100%;
}

.text-box {
	height: 50px;
	width: 100%;
	background-color: #252631;
	border-width: 0px;
	border-radius: 25px;
	text-align: right;
	padding: 15px;
	font-size: 30pt;
}

.term {
	margin-bottom: 15px;
	margin-top: 0;
	color: #A7DDFB;
	font-family: 'Cabin', sans-serif;
	font-size: 30pt;
}

input[type="radio"] {
	appearance: none;
	margin: 0;
}

.button {
	display: inline-block;
	cursor: pointer;
	margin-bottom: 15px;
	height: 140px;
	width: 140px;
	background-color: #2D7FAD;
	border-radius: 25px;
	box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.25)
}

.button:active {
	box-shadow: none;
}

.button:checked {
	background-color: #A7DDFB;
}

.right {
	float: right;
}

.icon {
	height: 140px;
	width: 140px;
	fill: #A7DDFB;
}

#solution {
	margin: 0;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}