html {
	height: 100%;
}
body {
	background-color: #252631;
	font-family: 'Cabin', sans-serif;
	color: white;
	height: 90%;
}

#calculator {
	background-color: #5E4467;
	border-radius: 60px;
	margin: auto;
	width: 30%;
	margin: 5% auto;
	height: 90%;
}